// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
 padding-top: 50px;
 font-family: '微软雅黑';

 }
.panel{
    width:600px;
    margin: 0 auto;
    margin-top: 25px;
}
.homepage{
    margin-top:50px;
    padding-top:30px;
    cursor: pointer;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.5);
}
.button-btn{
    width: 60px;
    height: 27px;
    background-color: red;
    margin-top: 12px;
    border-radius: 5px;
    margin-bottom: 0px;

}
.button-btn .exit{
    margin: 6px 13px;
}

.button-btn .exit a:link{
    text-decoration: none;
}
#table-hover{
    width: 540px;
    margin: 0 auto;
    margin-top: 20px;
}

.navbar-brand{
    padding: 10px 10px;
}
.introduction{
    width: 780px;
    margin: 0 auto;
    text-align: center;
}
.modal-content{
    padding: 20px;
}
#modal-dialog{
    margin: 0 auto;
}

#tablist li.active a{
    border-bottom: 2px solid red;
    background-color: #f0f0f0;
}
.brand-bar{
    letter-spacing: 0.35em;
    font-size: 18px;
}
.picture_about{
    text-align: center;
}
.picture_about img{
    width: 780px;
    height: 540px;
    margin: 20px;
    border:5px solid red;
}
.carousel-indicators{
    background-color: red;
}

.glyphicon{
    background-color: yellow;
}

.carousel-caption{
    font-size: 24px;
}

h2{
    display: block;
    width: 780px;
    margin: 0 auto;
    padding: 20px;
}
